
body {
    margin: 0;
    font-family: 'Shadows Into Light', cursive;
    background: #eaeaea;
  

}

a{
    text-decoration: none;
    color: inherit;
}

/* =============================
             BANNER
================================= */

.banner .main_cover {
    background: url('../images/cover.png');
    height: 365px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.banner .logo {
    font-family: 'Shadows Into Light', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 100%;
    height:62px;
    color: #fff;
    font-size: 80px;
    text-align: center; 
}

.banner span {
    display: block;
    height:15px;
    background: #2196f3;
}

/* ===========================
       ARTISTS LIST
===============================*/
artist_list {
    box-sizing: border-box;
    padding: 10px 30px;
}

.artists_list .artist_item {
    display: block;
    height: 260px;
    background-size: cover !important;
    margin-bottom: 20px;
    
   
    position:relative;
}

.artists_list .artist_item div {
    background: #2196f3;
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.artist_list h4{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0;
}

/*==============================
      HEADER
=================================*/
header {
    font-family: 'Shadows Into Light';
    text-align:center;
    font-size: 33px;
    border-bottom: 1px solid #2196f3;
    color: #9494;
}

/*==============================
      ARTIST BIO
=================================*/
.artist_bio {
    box-sizing: border-box;
    padding: 10px 30px
} 

.artist_bio .avatar  span {
    width:130px;
    height: 130px;
    display: block;
    margin: 0 auto;
    background-size:cover !important;
}

.artist_bio h3 {
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}

.artist_bio .bio_text{
    font-weight: 100;
    font-size: 14px;
}

.albums_list {
    margin:20px;
}

.albums_list:after{
    clear: both;
    display:table;
    content:''
}

.albums_list > img {
  float:left;
  width: 50%
}