body {
    margin: 0;
    font-family: 'Roboto';
}

header {
    background: black;
    color: white;
    text-align: center;
}

.logo {
    color: white;
    font-size: 40px;
    font-family: Anton;
}

header input {
    font-size: 20px;
    margin: 20px 0px;
}

.news_items{
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
}

