body{
    margin:0;
    padding:0;
    font-family: 'Roboto';
    color: #1b1b1b;
}

.flexbox-container{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

a{
    text-decoration: none;
}

h3{
    font-family: 'Fjalla-One';
    font-size: 35px;
    font-weight: 300px;
    margin-bottom:0;
}

h4{
    font-family: 'Fjalla One';
    font-size: 20px;
    margin: 15px 0 5px;
}

/*=======================
      Header
==========================*/
header{
    border-bottom: 1px solid #e2e2e2;
}

header, footer {
     background: #fff;
     align-items: center;
     padding: 10px;
     font-family: 'Fjalla One';
}

header .logo,
footer.logo{
    flex-grow: 1;
    height:22px;
}

header .logo span,
footer .logo span{
    background: url('/images/logo.png') no-repeat;
    display: inline-block;
    width: 58px;
    height: 24px;
}

footer{
    background: #1f1f1f;
    margin-top: 30px;
}

/*======================
      Slider
 =======================*/

 .item-slider{
     height:600px;
     background-size: cover !important;
     background-position: center center !important;
     position: relative;
     font-family: 'Fjalla One';
 }

 .item-slider .caption{
     color: #ffff;
     position:absolute;
     right:0px;
     padding:20px;
     text-align:right;
     width:320px;
     text-transform: uppercase;
 }

 .item-slider .caption h4{
     font-weight: 300;
     margin: 0;
 }

 .item-slider .caption p{
     font-size: 70px;
     margin-top: 0px;
 }

 /*==============
     Subscribe
================*/
.subscribe_panel {
    text-align:center;
    width:350px;
    margin: 0 auto;
}
.subscribe_panel h3{
    font-family: 'Fjalla One';
    font-size:35px;
    font-weight: 300;
    margin-bottom:0;
}

.subscribe_panel input{
    border-radius: 20px;
    border: 3px solid #dddddd;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    margin: 10px 0;
}

.subscribe_panel input{
    outline-width: 0;
}

.subscribe_panel small{
    font-size:none;
    line-height: 0px;
}

.subscribe_panel .error{
    display:none;
    color: #f44336;
}

.subscribe_panel .success{
    display:none;
    color: #4caf50;
}

.subscribe_panel .error.show,
.subscribe_panel .success.show{
    display:block;
}

/*==============
     Blocks
================*/

 .home_blocks{
     display:flex; 
     flex-direction: row;
     flex-wrap: wrap;
     margin-top:40px;
}

.home_blocks .item{
    flex-grow: 1;
    position: relative;
    height:270px;
    overflow: hidden;
}  

.home_blocks .item.lg{
    width:50%;
}

.home_blocks .item.md{
    width:30%;
}

.home_blocks .item.sm{
    width:20%;
}

.home_blocks .item .image{
    height:270px;
    background-size: cover !important;
    background-position: center center !important; 
}

.home_blocks .item .title{
    background: black;
    padding:10px;
    transition: all 500ms ease-in-out;
}

.home_blocks .item:hover .title{
    transform: translate(0px, -39px);
    transition:all 500ms ease-in-out;
}

.home_blocks .item .title a{
    color:#fff;
}

.home_blocks .item.lg{
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}

.home_blocks .item.md{
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

.home_blocks .item.sm{
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms; 
}

.home_blocks .item .veil{
    background: #000000;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    top:0;
    position: absolute; 
    transition: all 500ms ease-in-out;
}

.home_blocks .item:hover .veil{
    opacity:0;
    transition: all 500ms ease-in-out;
}

/*=========================
       Poll
===========================*/

.home_poll{
    width:70%;
    margin:0 auto;
    text-align:center;
   
}
.home_poll h3{
    font-family: 'Fjalla One';
}

.poll_container{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

}
.poll_container .poll_item{
    padding:20px;
    flex-grow: 1;
}

.poll_container .poll_item img{
    width:80%;
}

.poll_container .poll_item div {
    font-family: 'Fjalla One', 'sans-serif';
    font-size: 18px;
}

/*=================================
        Teams
====================================*/
.teams_component{
    min-height:800px;
}

.teams_input{
    text-align: center;
    padding:20px 0;
    background: #e6e6e6;
}

.teams_input input{
    font-family: 'Roboto';
    border-radius: 30px;
    border: 1px solid lightgray;
    color: black;
    font-size: 20px;
    padding: 10px;
    font-weight: 300;
    text-align: center;
}

.teams_input input:focus{
    outline:none;
}

.teams_container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.teams_container .team_item{
    width: 25%;
    padding: 30px;
    box-sizing: border-box;
}

.teams_container .team_item img {
    width: 100%;
}

/*==========================
        Team
============================*/
.team_data_wrapper{
    display:flex;
}

.team_data_wrapper .left {
    box-sizing: border-box;
    padding: 10px 20px;
}

.team_data_wrapper .right{
    flex-grow: 2;
    box-sizing: border-box;
    border-left: 1px solid #b9b9b9;
    padding: 0px 20px;
}

.team_data_wrapper .left img{
    width: 150px;
}

.team_data_wrapper h1{
    color: #6d6d6d;
}

.team_data_wrapper .squad{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.team_data_wrapper .squad .item {
    position: relative;
    width: 25%;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}

.team_data_wrapper .squad .item h4{
    text-align: center;
    color: #006bb6;
}

.team_data_wrapper .squad .item img{
    width: 40%;
    display: block;
    margin: 0 auto;  
}

.team_data_wrapper .squad .item  .node{
    font-size: 14px;
    padding: 4px 0;
    text-align: center;
}

.team_data_wrapper .squad .item  .node span{
    font-weight: 600;
}
